:root {
	--header-height: 80px;
	--pencil-banner-height: 48px;
	--pencil-banner-height-mobile: 64px;
	--delta-purple: #302952;
	--delta-deep-red: #EF4960;
	--delta-ice-blue: #A4DBE8;
	--delta-dark-gray: #2D2D2D;
	--mobile-menu-max-width: 350px;
	/* 
		Needs to be updated to keep the height of the main line items scrollable if they overflow.
		Can probably make this dynamic with JS in the future.
	*/
	--cart-aside-summary-height: 250px;
}

.delta-purple {
	color: var(--delta-purple);
}

.delta-deep-red {
	color: var(--delta-deep-red);
}

.delta-ice-blue {
	color: var(--delta-ice-blue);
}

.delta-dark-gray {
	color: var(--delta-dark-gray);
}

.rose-avenue {
	font-family: 'Rose Avenue', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1600px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

/* img, */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  /* margin-block-start: 0; */
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  /* margin-block-end: 0; */
}

/** Theme styles below */
body {
  font-family: var(--font-primary--family);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

section,
.pad-x {
  position: relative;
  padding: 0 64px;
}

section:has(.no-section-padding) {
  padding: 0;
}


.button-arrow:hover {
	text-decoration: underline;
}

.button-arrow svg {
	transition: transform .3s ease;
}

.button-arrow:hover svg {
	transform: rotate(45deg);
}


@media screen and (max-width: 1280px) {
  section,
  .pad-x {
    padding: 0 48px;
  }
}

@media screen and (max-width: 991px) {
  section,
  .pad-x {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  section,
  .pad-x {
    padding: 0 24px;
  }
}

@media screen and (max-width: 478px) {
  section,
  .pad-x {
    padding: 0 16px;
  }
}