@import "tailwindcss";

:root {
	--header-height: 80px;
	--delta-purple: #6b46c1;
}

header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 1rem;
}
header a {
	position: relative;
	text-decoration: none;
	font-size:20px;
	text-transform: capitalize;
	font-weight: 700;
}

header a:hover {
	text-decoration: underline;
}

header a sup {
	position: absolute;
	left: 100%;
	overflow: hidden;
	max-width: var(--page-margin);
}
header svg {
	width: 2rem;
}
header .header__menu,
header .header__icons {
	display: flex;
	gap: 1rem;
}

.header__menu a {
	padding: 0 10px;
}

header .header__logo-link {
	max-width: 145px;
}

.header__pencil-banner {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.header__pencil-banner {
		font-size: 14px;
	}
}